<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
			<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="assets/DataTables/datatables.css"/>
			<link rel="stylesheet" href="assets/css/style.css?sc"/>
		{% endblock %}
	</head>
	<body>
		<div class="container main-container">
			<div class="row">
				<header class="col-sm-12">
					{{ include('inc/header.html.twig') }}
				</header>
			</div>

			<div class="row">
				<div class="col-sm-12 mid-column">
					{% block body %}{% endblock %}
				</div>
			</div>

			<div class="row">
				<footer class="col-sm-12">
					{{ include('inc/footer.html.twig') }}
				</footer>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script type="text/javascript" src="assets/DataTables/datatables.js"></script>
		<script type="text/javascript" src="assets/DataTables/dataTables.export.js"></script>
		<script>
			$(document).ready( function () {
				$('#table_id').DataTable();
			} );

		</script>

		<script>
            var dt = $('#table_id').DataTable();

            // Export to Word Document
            // On element with id="btn-export" clicked
            $('body').on('click', '.btn-export', function(e) {
            $.fn.DataTable.Export.word(dt, {
                filename: 'publikacje',
                title: 'Lista publikacji',
                message: 'Lista publikacji',
                header: [
                    'Autor',
                    'Nazwa publikacji',
                    'Data publikacji',
                    'DOI',
					'Tytuł',
					'Punkty'
                ],
                fields: [
                    0,
					1,
					2,
					3,
					4,
					5
                ]
            });
        });
        </script>
	
	</body>
</html>
