<div class="under-nav">
    <div class="btn btn-export">
        Export
    </div>

    {% if app.user %}
    <a href="{{ path('app_add_article') }}">
        <button class="btn add-art">
            Dodaj publikację
        </button>
    </a>
    {% endif %}
</div>